
.inspirational {
   color: #EE204D!important;
}


.motivational {
   color: #98FB98!important;
}


.melancholic {
    color: #04D9FF!important;
}


.happy {
    color: #FF007F!important;
}


.thoughtful {
  color: gold!important;
}