
.thoughtful {
   background: #003300!important;
}


.motivational {
   background: #660000!important;
}


.melancholic {
  background: #2A3439!important;
}


.happy {
  background: #003366!important;
}


.inspirational {
  background: #F2CB05!important;
}